@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body, h1, h2, h3, h4, p,
  figure, blockquote, dl, dd {
    margin-block-end: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1, h2,
  h3, h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  /* Inherit fonts for inputs and buttons */
  input, button,
  textarea, select {
    font: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }

  :root {
    font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    font-feature-settings: 'zero' 1;
    /* 
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1, 'case' 1, 'ss02' 1;
    */
  }

  /* for Inter
  .tabular {
    font-feature-settings: 'tnum' 1, 'cv01' 1, 'cv09' 1, 'cv03' 1, 'cv04' 1, 'zero' 1;
  } */

  [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    @apply p-1 rounded-md
  }

  input[type="submit"], button {
    /* @apply ring-1 bg-white font-semibold text-gray-900 ring-inset ring-gray-300 hover:bg-zinc-100 hover:cursor-pointer */
    @apply text-zinc-50 bg-zinc-800 hover:cursor-pointer py-1 px-2
  }

  a, a:not([class]) {
    /* a:not([class]) is something in base? */
    @apply underline underline-offset-1 text-blue-600 font-semibold
  }

  a:hover {
    @apply text-blue-500
  }

  a:active {
    @apply text-blue-700
  }
}

@layer components {
  /* .button-sm {
    @apply text-sm shadow-sm rounded-md ring-1 py-1 px-2
  }
  .button-md {
    @apply shadow-sm rounded-md ring-1 py-1 px-3
  } */

  .table {
    display: table;
  }
  .table-row {
    display: table-row;
  }
  .table-col {
    display: table-cell;
    text-align: left;
  }
}